.social-trend-wrapper {
	position: fixed;
	top: 50%;
	right: 2em;
	z-index: 10;

	padding: rem(15px);

	background-color: #fff;
	border: 2px solid #ff6000;
	transform: translateY(50%);
	opacity: 0;

	transition: opacity 2s;
}

.social-trend-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.social-trend-close {
		display: inline-block;

		font-size: 0.75rem;

		background-repeat: no-repeat;
		cursor: pointer;
	}

	.sr-only {
		@include sr-only();
	}
}

.social-trend-category {
	display: flex;
	align-items: center;

	.icon {
		display: inline-block;
		margin-right: 5px;

		color: $swg-sun;
		font-size: 1.25rem;

		background-repeat: no-repeat;
	}
}
