@mixin checkbox($radius: $input-border-radius) {
	position: absolute;
	z-index: 1;

	width: $checkbox-size;
	height: $checkbox-size;

	line-height: 1;

	background-color: transparent;
	border-radius: $radius;
	box-shadow: inset 0 0 0 1px $input-border-color;

	transition: box-shadow 0.3s linear, background 0.2s linear;

	@media (hover: hover) {
		:hover > & {
			box-shadow: inset 0 0 0 1px $swg-stone;
			cursor: pointer;
		}
	}

	&::after {
		position: absolute;
		top: 2px;

		width: inherit;
		height: inherit;

		color: $swg-white;
		font-weight: bold;

		font-size: 18px;
		font-family: sans-serif;

		transform: rotate(130deg) scale(0);
		opacity: 0;

		transition: all 0.2s ease;

		content: "\000AC";
	}
}

@mixin checkbox-active {
	background-color: $swg-stone;
	box-shadow: inset 0 0 0 1px transparent;

	&::after {
		transform: rotate(130deg) scale(1);
		opacity: 1;
	}
}
