// TODO: make it work with nested grid
.grid {
	box-sizing: border-box;
	@include media-breakpoint-up(sm) {
		display: flex;
		flex-wrap: wrap;
		margin-right: #{-$gap/2};
		margin-left: #{-$gap/2};
	}

	&__item {
		margin-bottom: $gap;
		padding-right: $gap/2;
		padding-left: $gap/2;
		@include media-breakpoint-between(md, lg) {
			width: percentage(1/2);
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
			padding-right: 0;
			padding-left: 0;
		}
	}
}


// 1 Column
.grid--1 {
	.grid__item {
		width: 100%;

		&:first-child:nth-last-child(1) {
			margin-bottom: 0;
		}
	}
}

// 3 Columns
.grid--3 {
	.grid__item {
		@include media-breakpoint-up(lg) {
			width: percentage(1/3);

			&:first-child:nth-last-child(1) {
				margin-bottom: 0;
			}

			&:first-child:nth-last-child(3),
			&:first-child:nth-last-child(3) ~ .grid__item {
				margin-bottom: 0;
			}
		}
	}
}

// 4 Columns
.grid--4 {
	.grid__item {
		@include media-breakpoint-up(lg) {
			width: percentage(1/4);
		}

		@include media-breakpoint-between(md, lg) {
			width: percentage(1/3);
		}
	}
}

// 2 Columns
.grid--2 {
	.grid__item {
		@include media-breakpoint-up(md) {
			width: percentage(1/2);

			&:first-child:nth-last-child(2),
			&:first-child:nth-last-child(2) ~ .grid__item {
				margin-bottom: 0;
			}
		}
	}

}


// Brand Carousel
.grid--brand {
	.grid__item {
		padding-right: $gap/2;
		padding-left: $gap/2;
		@include media-breakpoint-up(lg) {
			width: percentage(1/6);
		}
		@include media-breakpoint-between(md, lg) {
			width: percentage(1/3);
		}
	}
}


// Footer
.grid--footer {
	.grid__item {
		padding-right: $gap/2;
		padding-left: $gap/2;
		@include media-breakpoint-up(lg) {
			width: percentage(1/6);
		}
		@include media-breakpoint-between(md, lg) {
			width: percentage(1/3);
		}
	}
}


// Footer
.grid--birth {
	display: flex;
	flex-wrap: wrap;
	margin-right: #{-$gap/2};
	margin-left: #{-$gap/2};

	.grid__item {
		width: auto;
		padding-right: $gap/2;
		padding-left: $gap/2;
		@include media-breakpoint-down(sm) {
			width: auto;
			padding-right: $gap/2;
			padding-left: $gap/2;
		}
	}
}
