

.containerWrapper {
	margin: rem(35px) 0;

	&.fullWidth {
		width: 100vw;
		margin: 0 0 0 50%;

		transform: translateX(-50vw);
	}

	&.sun {
		padding: rem(30px);

		background-color: $swg-sun;

		:global(.swiper-container) {
			&::before,
			&::after {
				background-color: $swg-sun;
			}
		}

		.sectionHeading {
			color: white;
		}
	}

	&.tide {
		padding: rem(30px);

		background-color: $swg-tide;

		:global(.swiper-container) {
			&::before,
			&::after {
				background-color: $swg-tide;
			}
		}

		.sectionHeading {
			color: white;
		}
	}

	&.pearl {
		padding: rem(30px) 0;

		background-color: $swg-pearl;

		:global(.swiper-container) {
			&::before,
			&::after {
				background-color: $swg-pearl;
			}
		}
	}

	&.wedding {
		padding: rem(30px);

		background-color: $swg-wedding;

		:global(.swiper-container) {
			&::before,
			&::after {
				background-color: $swg-wedding;
			}
		}

		.sectionHeading {
			color: white;
		}
	}

	&.royal {
		padding: rem(30px);

		background-color: $swg-royal;

		:global(.swiper-container) {
			&::before,
			&::after {
				background-color: $swg-royal;
			}
		}

		.sectionHeading {
			color: white;
		}
	}
}
