.color-root {
	display: grid;
	gap: 2rem;

	.text-white {
		color: $white;
	}
}

.color-row {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;

	&__title {
		flex: 0 0 100%;
	}
}

.color {
	&__box {
		display: grid;
		gap: 0.5rem;
		margin-bottom: 0.5rem;

		font-size: 80%;

		&__sq {
			display: grid;
			align-items: center;
			justify-items: center;
			width: 150px;
			height: 100px;

			border-radius: 4px 4px 30px;

			&.bg--rock,
			&.bg--royal,
			&.bg--error,
			&.bg--star-fish,
			&.bg--facebook,
			&.bg--pinterest,
			&.bg--tide,
			&.bg--success,
			&.bg--stone {
				color: white;
			}
		}
	}
}
