
.heading--h1 {
	@include h1;
}

.heading--h2 {
	@include h2;
}

.heading--h3 {
	@include h3;
}

.heading--h4 {
	@include h4;
}

.heading--h5 {
	@include h5;
}

.heading--base {
	@include ui-body;
	text-transform: initial;
}

.heading--h1alt {
	@include h1alt;
}

.heading--case {
	text-transform: uppercase;
}

.heading--center {
	text-align: center;
}

.heading--bold {
	font-weight: $font-weight-bold;
}

.heading--normal {
	font-weight: $font-weight-normal;
}

.heading--narrow {
	font-family: $font-family-muller-narrow;
}
