.sectionTitle {
	@include h1;
	margin-bottom: 1rem;
}

.sectionContent {
	margin-bottom: 0.5rem;
}

.paragraph {
	&.wedding {
		margin-bottom: 2rem;

		b {
			color: $swg-wedding;
		}
	}
}

.paragraphTitle {
	font-weight: $font-weight-bold;

	&.inline {
		display: inline;
	}
}

.paragraphContent {
	&.inline {
		display: inline;

		p {
			display: inline;
		}
	}
}

.section {
	&.wedding {
		.paragraphTitle.wedding {
			color: $swg-wedding;
		}

		.paragraphContent {
			p:first-child {
				margin-top: 0;
			}
		}

	}
}

.sectionFooter.wedding {
	h1 + h1 {
		margin-top: 0;
	}

	i {
		display: inline-block;
		padding: 0 0.5rem;

		font-style: normal;
	}

	b {
		color: $swg-wedding;
	}

	a:not([class^="Button-"]) {
		@include link-hover();
	}

	h5,
	b {
		font-size: 1.125rem;

		a {
			color: $swg-wedding;

			span {
				margin-left: 0.75rem;

				color: $swg-stone;
				font-size: 0.8rem;
			}
		}
	}


}

.sectionTitle.insurance {
	margin-bottom: 1rem;

	color: $swg-stone;
	font-size: 1.5rem;
	font-family: $font-family-base;
	text-transform: none;
}


.sectionFooter {
	a:not([class^="Button-"]) {
		@include link-hover($swg-tide);
	}

	a[class^="Button-"] + a[class^="Button-"] {
		margin-left: 0.5rem;
	}
}

.sectionFooter.insurance {
	ul {
		list-style: none;

		li::before {
			display: inline-block;
			width: 1em;
			margin-left: -1em;

			color: $swg-pebble;
			font-weight: bold;

			content: "\2022";
		}

		li {
			p {
				display: inline;
			}
		}
	}

	blockquote {
		display: inline-block;
		width: 170px;

		p {
			display: inline;

			i {
				display: block;
				padding-top: 0.5rem;

				color: $swg-tide;
				font-size: 2.2rem;
				font-style: normal;
				line-height: 2.5rem;
			}
		}
	}

	u {
		font-size: 0.75rem;
		font-style: normal;
		line-height: 0.75rem;
		white-space: pre;
		text-decoration: none;
	}
}

.sectionFooter.primary {
	p,
	li {
		font-family: $font-family-base;
	}

	.list {
		list-style: none;

		li::before {
			display: inline-block;
			width: 1em;
			margin-left: -1em;

			color: $swg-pebble;
			font-weight: bold;

			content: "\2022";
		}

		li {
			font-family: $font-family-base;

			p {
				display: inline;
			}
		}
	}

	u {
		font-size: 0.75rem;
		font-style: normal;
		line-height: 0.75rem;
		white-space: pre;
		text-decoration: none;
	}

	p {
		font-family: $font-family-base;
		white-space: pre-wrap;
	}
}

.mobileCentered {
	@include media-breakpoint-down(md) {
		text-align: center;
	}

	a:not([class^="Button-"]) {
		@include link-hover($swg-tide);
	}
}
