.section {
	background-color: $swg-white;

	&--padding-default {
		@include media-breakpoint-up(md) {
			padding-top: $section-spacing;
			padding-bottom: $section-spacing;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}

		&:first-child {
			padding-top: $section-spacing/2;
		}
	}

	&--padding-top {
		@include media-breakpoint-up(md) {
			padding-bottom: $section-spacing;
		}
		@include media-breakpoint-down(sm) {
			padding-bottom: 2rem;
		}

		&:first-child {
			padding-top: $section-spacing/2;
		}
	}

	&--padding-bottom {
		@include media-breakpoint-up(md) {
			padding-top: $section-spacing;
		}
		@include media-breakpoint-down(sm) {
			padding-top: 2rem;
		}

		&:first-child {
			padding-top: $section-spacing/2;
		}
	}

	&__inner {
		@include swg-container;
		@include media-breakpoint-up(sm) {
			padding-right: $page-padding;
			padding-left: $page-padding;
		}
		@include media-breakpoint-down(xs) {
			padding-right: rem(12px);
			padding-left: rem(12px);
		}

		.section--full & {
			min-width: 100%;
		}
	}

	&--dark {
		background-color: $swg-pearl;
	}

	&--none {
		background-color: inherit;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 2rem;
	}

	&__content {
		p:first-child {
			margin-top: 0;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	&--bgr-image {
		position: relative;

		background-color: transparent;
	}

	&__bgrImg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		> div {
			height: 100%;
		}
	}
}
